<footer class="footer">  
    <div class="container">
    
      <div class="row">
        <div class="col-sm-4 footer-left">
          <div class="wg-1">
            <div class="ft-logo"><a href="#"><img src="./assets/images/logo.png" alt="image"></a></div>
            <p>Lorem ipsum dolor sit amet adipiscing elit sed do eiusmod tempor ut labore et dolore magna enim ad minim veniam.</p>
            <div class="icon-ft">
              <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
              <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
              <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
              <a target="_blank" href="#"><i class="fa fa-youtube"></i></a>
            </div>
          </div><!--/ wg-1 -->
        </div><!--/ col-sm-3 -->
      
        <div class="col-sm-8 footer-right">
          <div class="row">
            
            <div class="col-sm-4">
              <div class="wg-1">
                <h4>Information</h4>
                <ul>
                  <li><a href="#">Membership Information and T&Cs </a></li>
                  <li><a href="#">About the DAN Shop</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Delivery and Shipping</a></li>
                  <li><a href="#">Returns Information</a></li>
                </ul>
              </div><!--/ wg-1 -->
            </div><!--/ col-sm-4 -->
            
            <div class="col-sm-4">
              <div class="wg-1">
                <h4>Customer Service</h4>
                <ul>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Returns</a></li>
                  <li><a href="#">Site Map</a></li>
                  <li><a href="#">Order History</a></li>
                  <li><a href="#">Wish List</a></li>
                  <li><a href="#">Newsletter</a></li>
                </ul>
              </div><!--/ wg-1 -->
            </div><!--/ col-sm-4 --> 
            
            <div class="col-sm-4">
              <div class="wg-1">
                <h4>Extras</h4>
                <ul>
                  <li><a href="#">Brands</a></li>
                  <li><a href="#">Gift Certificates</a></li>
                  <li><a href="#">Affiliate</a></li>
                  <li><a href="#">Specials</a></li>
                </ul>
              </div><!--/ wg-1 -->
            </div><!--/ col-sm-4 --> 
             
          </div><!-- row -->            
        </div><!-- footer-right -->
        
      </div><!-- row -->            
    </div><!--/ container -->     
    
    <div class="ft-bottom">
      <div class="container">
        <div class="row">
        
          <div class="col-sm-4"><p class="copyright">Copyright © 2023 DAN Shop. <br>All Rights Reserved.</p></div>
          
          <div class="col-sm-8">
            <div class="Newsletter">
              <h5>Stay up-to-date with our promotions!<span>No spam — we promise.</span></h5>
              <form>
                <div class="input-group">
                  <input class="form-control" type="email" placeholder="E-mail Address">
                  <input type="submit" value="Submit" class="btn">
                </div>
              </form>
            </div>		
          </div>		
          
        </div><!--/ row -->
      </div>
    </div><!--/ ft-bottom -->
  </footer>
  
 