

  
.product-cart{position:relative;}
.product-cart .btn{background: #3c3e93; border: 0; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; position: relative; z-index: 1; display: inline-block; text-align: center; color: #fff; font-size: 14px; font-family: 'Lato', sans-serif; font-weight: 700; margin: 0; padding: 12px 20px 11px; overflow: hidden; box-shadow: none; text-transform: capitalize; text-shadow: none;}
.product-cart .btn:hover{color: #fff;}
.product-cart .btn:hover span{position: relative; color:#fff; z-index: 1;}
.product-cart .btn:after{content: ''; position: absolute; height: 100%; left: 0; top: 0; width: 0; -webkit-transition: all .3s; -moz-transition: all .3s;-o-transition: all .3s; transition: all .3s; background-color: #dd1717; z-index:-1;}
.product-cart .btn:hover:after{width: 100%;}
.product-cart .cart-form{margin: 0 0 30px;}
.product-cart .cart-form .product-thumbnail img{max-width:70px;}
.product-cart .cart-form .table tr td:first-child{vertical-align: middle; text-align: center;}
.product-cart .remove{border:1px solid #dd1717; color: #dd1717; width: 25px; height: 25px; display: block; text-align: center; line-height: 25px; font-size: 18px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
.product-cart .remove:hover{background: #dd1717; color:#fff;}
.product-cart .cart-left{margin: 0 0 30px;}
.product-cart .cart-right{margin: 0 0 30px;}
.product-cart .accordion-header button{font-family: 'Lato', sans-serif; font-weight: 700;}
.product-cart .accordion-header .accordion-button:not(.collapsed){color: #3c3e93;}
.product-cart .accordion-body{padding: 15px 20px 20px;}
.product-cart .cart-left label{display: block; margin: 0 0 10px;}
.product-cart .cart-left .form-control{font-size: 14px; box-shadow:none; -webkit-border-radius:3px 0 0 3px; -moz-border-radius:3px 0 0 3px; border-radius:3px 0 0 3px; color: #000; height:40px;}
.product-cart .cart-left .form-control::-webkit-input-placeholder {color: #b0b0b0;}
.product-cart .cart-left .form-control::-moz-placeholder {color: #b0b0b0;}
.product-cart .cart-left .form-control:-ms-input-placeholder {color: #b0b0b0;}
.product-cart .cart-left .form-control:-moz-placeholder {color: #b0b0b0;}
.product-cart .cart-left .form-group{margin:0 0 25px;}
.product-cart .cart-left .input-group .btn{border:0; -webkit-border-radius:0 3px 3px 0; -moz-border-radius:0 3px 3px 0; border-radius:0 3px 3px 0;}
.product-cart .cart-left .btn{position:relative; background: #3c3e93; font-family: 'Lato', sans-serif; font-weight:700; color: #fff; text-align: center; text-shadow:none; text-transform:uppercase; -webkit-animation-delay: 2s; animation-delay: 2s; -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out; transition: background 0.3s ease-in-out, color 0.3s ease-in-out; text-align: center; margin:0; padding: 9px 15px 10px; border:0; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size: 14px; text-transform:capitalize;}
.product-cart .cart-left .btn:hover, .product-cart .cart-left form .btn:active{background: #dd1717; color: #fff;}


















  .quantity{display: flex; align-items: center; gap: 20px;}
  .quantity .quantity-input{display: flex; justify-content: space-between;}
  .quantity .qty{width: 50px; height: 42px; text-align: center; border: 1px solid #e5e5e5;}
  .quantity input.qtyminus, .quantity input.qtyplus{width:30px; height:42px; -webkit-border-radius: 3px 0 0 3px; -moz-border-radius: 3px 0 0 3px; border-radius: 3px 0 0 3px; border: 0; font-size: 20px;}
  .quantity input.qtyplus{-webkit-border-radius: 0 3px 3px 0; -moz-border-radius: 0 3px 3px 0; border-radius: 0 3px 3px 0;}
  .quantity .btn{background: #dd1717; border: 0; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; position: relative; z-index: 1; display: inline-block; text-align: center; color: #fff; font-size: 14px; font-family: 'Lato', sans-serif; font-weight: 700; margin: 0; padding: 10px 20px; overflow: hidden; box-shadow: none; text-transform: uppercase; text-shadow: none;}
  .quantity .btn:hover{color: #fff;}
  .quantity .btn:hover span{position: relative; color:#fff; z-index: 1;}
  .quantity .btn:after{content: ''; position: absolute; height: 100%; left: 0; top: 0; width: 0; -webkit-transition: all .3s; -moz-transition: all .3s;-o-transition: all .3s; transition: all .3s; background-color: #3c3e93; z-index:-1;}
  .quantity .btn:hover:after{width: 100%;}  
  

  .breadcrumb{line-height: 22px; position: relative; z-index: 5; margin: 0; padding: 10px 0 6px; border-bottom: 1px solid #ccc; background: none; border-radius: 0; color: #242424;}
.breadcrumb ul{margin: 0; padding:0;}
.breadcrumb li{display:inline-block; vertical-align:middle; list-style:none; margin: 0 0 5px;}
.breadcrumb li + li:before {content: "+"; margin: 0 9px; color: #dd1717; font-size: 15px; float: left;}
.breadcrumb li .fa-home{margin: 0 10px 0 0;}
.breadcrumb li a{color: #dd1717;}
.breadcrumb li a:hover{color: #3c3e93;}   