
<header class="header header-inner">    
    <div class="head-top">
      <div class="container">	  
        <div class="row">
        
          <div class="col-sm-12">	
            <div class="product_search_form">
             <form>
               <div class="collapse" id="search-input">
                 <div class="card card-body">
                   <div class="input-group">
                     <input name="s" id="s" class="form-control" placeholder="Search" required="" type="text">
                     <button type="submit" class="search_btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                   </div>
                 </div>
               </div>
               
                 <button class="btn click-btn" type="button" data-bs-toggle="collapse" data-bs-target="#search-input" aria-expanded="false" aria-controls="search-input"><span class="fa fa-fw fa-search" title="search" aria-hidden="true"></span><span class="sr-only">Search</span></button>
              </form>		 
            </div>
            
            <div class="account-view">
              <button class="btn click-btn" type="button" data-bs-toggle="collapse" data-bs-target="#account" aria-expanded="false" aria-controls="account"><i class="fa fa-user-o"></i></button>
              
              <div class="collapse" id="account">
                <div class="card card-body">
                  <ul>
                    <li><a href="#"> <i class="fa fa-user"></i> Register</a></li>
                    <li><a href="#">  <i class="fa fa-sign-in"></i> Login</a></li>
                  </ul>
                </div>
              </div>
            </div>
            
            <div class="cart-button">		  
              <button class="btn click-btn" type="button" data-bs-toggle="collapse" data-bs-target="#cart" aria-expanded="false" aria-controls="cart"><img src="../assets/images/cart.png" alt="image">
                <div class="cartco"><span id="cart-total"><span class="cartcount">0</span></span></div></button>
              
              <div class="collapse" id="cart">
                <div class="card card-body">
                  <ul>
                <li>
                  <table class="table table-striped">
                    <tbody>
                        <tr *ngFor="let item of cart; let index = index">
                            <td class="text-center"> <a routerLink="#"><img src="./assets/images/product-01.png" alt="" title="" class="img-thumbnail"></a></td>
                            <td class="text-left"> <a routerLink="#">{{item.name}}</a></td>
                            <td class="text-right">x {{item.quantity}}</td>
                            <td class="text-right">ZAR {{item.price}}</td>
                            <td class="text-center"><button type="button" [attr.data-indexId]="item.id"  (click)="onRemoveCart($event)" title="Remove" class="btn btn-danger btn-xs"><i class="fa fa-times" [attr.data-indexId]="item.id"></i></button></td>
                          </tr>
                    </tbody>
                  </table>
                </li>
                <li>
                  <div>
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <td class="text-right">Sub-Total</td>
                          <td class="text-right">ZAR 1,156.52</td>
                        </tr>
                        <tr>
                          <td class="text-right">Vat(15%)</td>
                          <td class="text-right">ZAR 173.48</td>
                        </tr>
                        <tr>
                          <td class="text-right">Total</td>
                          <td class="text-right">ZAR 1,330.00</td>
                        </tr>
                      </tbody>
                    </table>
                    <p class="text-right"><a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> View Cart</a>&nbsp;&nbsp;&nbsp;<a href="#" class="btn btn-primary"><i class="fa fa-share"></i> Checkout</a></p>
                  </div>
                </li>
              </ul>
                </div>
              </div>
            </div>
          </div><!--/ coll -->
    
        </div>
      </div>
    </div>
    
    <div class="menu-head">             
      <div class="container">	  
        
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="../assets/images/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-xxl-auto">
                <li><a href="#">Safety Gear</a>
                  <ul class="sub-menu">
                    <li><a href="#">Oxygen Units</a></li>
                    <li><a href="#">Oxygen Accessories</a></li>
                    <li><a href="#">First Aid Kits</a></li>
                    <li><a href="#">First Aid Accessories</a></li>
                    <li><a href="#">Dive Safety</a></li>              
                    <li><a href="#">Show AllSafety Gear</a></li>
                  </ul>
                </li>    
                
                <li><a href="#">Clothing</a>
                  <ul class="sub-menu">
                    <li><a href="#">DAN T-Shirts</a></li>
                    <li><a href="#">DAN Stay Salty T-Shirts</a></li>
                    <li><a href="#">Frogfish T-Shirt</a></li>
                    <li><a href="#">Octopus T-Shirt</a></li>
                    <li><a href="#">Rash Vests</a></li>
                    <li><a href="#">Show AllClothing</a></li>
                  </ul>
                </li>  
                
                <li><a href="#">Jewellery</a></li>
                <li><a href="#">Promotional</a></li>
                <li><a href="#">Training</a>
                  <ul class="sub-menu">
                    <li><a href="#">Trainer Aids</a></li>
                    <li><a href="#">Show AllTraining</a></li>
                  </ul>        
                </li> 
                <li><a href="#">Tags</a></li>
                <li><a href="#">Membership</a>
                  <ul class="sub-menu">
                    <li><a href="#">Recreational Divers</a></li>
                    <li><a href="#">Professional Divers</a></li>
                    <li><a href="#">Commercial Divers</a></li>
                    <li><a href="#">Commercial Companies</a></li>
                    <li><a href="#">Commercial Dive Schools</a></li>
                    <li><a href="#">Temporary Membership</a></li>
                    <li><a href="#">Show AllMembership</a></li>
                  </ul>
                </li>
              </ul>
              
            </div>
          </div>
        </nav>
          
      </div><!--/ menu-head -->           
    </div><!--/ container -->
  </header>