<section class="banner">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        
        <div class="carousel-item active">
          <img src="../assets/images/slider-01.jpg" class="d-block w-100" alt="...">
          <div class="slide-text">
            <h1>DAN Members<span>Please register to receive your member discounts.</span></h1>
            <p><sup>ZAR</sup> 749<sup>99</sup></p>
            <p><a href="#" class="btn btn-default">Start Buying</a></p>
          </div>
        </div>
        
        <div class="carousel-item">
          <img src="../assets/images/slider-02.jpg" class="d-block w-100" alt="...">
          <div class="slide-text">
            <h1>AWESOME GIFTS<span>Looking for the perfect American candy present.</span></h1>
            <p><sup>ZAR</sup> 749<sup>99</sup></p>
            <p><a href="#" class="btn btn-default">Start Buying</a></p>
          </div>
        </div>
      </div>
      
      <button class="carousel-control-prev carousel-control left" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      
      <button class="carousel-control-next carousel-control right" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section><!--/ banner -->

  
<app-products></app-products>
    


  <!--<section class="featured-products">
    <div class="container">
      <div class="row">
  
        <div class="col-sm-12 title">
          <h2>Featured Products</h2>
          <div class="shop-btn"><a href="#" class="btn active-btn">Shop all</a></div>
        </div>
        
        <div class="col-sm-12 col-padd">

             <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="item">
                    <div class="image"><a href="#"><img src="../assets/images/product-01.png" alt=""></a></div>		  
                    <div class="caption">
                      <h4><a href="#" class="woocommerce-LoopProduct-link">First Aid Backpack with Oxygen</a></h4>
                      <div class="star-rating">
                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i>
                      </div>
                      <p>First-Aid Backpack with O2 (DAN-SA) Equipped for a wide range of emergencies, DAN's First-Aid B..</p>
                      <p class="price">
                        <ins>ZAR 14,240.00</ins>
                        <small>Ex Tax:ZAR 12,382.61</small>
                      </p>
                      
                      <div class="button-group">
                        <button type="button" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                        <button type="button" data-toggle="tooltip" title="Add to Wish List"><i class="fa fa-heart" aria-hidden="true"></i></button>
                      </div>
                    </div>
                </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="image"><a href="#"><img src="../assets/images/product-02.png" alt=""></a></div>		  
                        <div class="caption">
                          <h4><a href="#" class="woocommerce-LoopProduct-link">Marine MedKit 2.0</a></h4>
                          <div class="star-rating">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i>
                          </div>
                          <p>DAN Marine MedKit (631-2605) Water-resistant pouch with handle and clear storage compartments for ea..</p>
                          <p class="price">
                            <ins>ZAR 1,330.00</ins>
                            <small>Ex Tax:ZAR 1,156.52</small>
                          </p>
                          
                          <div class="button-group">
                            <button type="button" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                            <button type="button" data-toggle="tooltip" title="Add to Wish List"><i class="fa fa-heart" aria-hidden="true"></i></button>
                          </div>
                        </div>
                      </div>
                </ng-template>  


                <ng-template carouselSlide>
                    <div class="item">
                        <div class="image"><a href="#"><img src="../assets/images/product-03.png" alt=""></a></div>		  
                        <div class="caption">
                          <h4><a href="#" class="woocommerce-LoopProduct-link">Grab and Go Travel Pack</a></h4>
                          <div class="star-rating">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i>
                          </div>
                          <p>Grab&Go Travel Pack (631-3115) The DAN Grab & Go Travel First Aid Kit is stocked with a su..</p>
                          <p class="price">
                            <ins>ZAR 585.00</ins>
                            <small>Ex Tax:ZAR 508.70</small>
                          </p>
                          
                          <div class="button-group">
                            <button type="button" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                            <button type="button" data-toggle="tooltip" title="Add to Wish List"><i class="fa fa-heart" aria-hidden="true"></i></button>
                          </div>
                        </div>
                      </div>
                </ng-template>



                <ng-template carouselSlide>
                    <div class="item">
                        <div class="image"><a href="#"><img src="../assets/images/product-04.png" alt=""></a></div>		  
                        <div class="caption">
                          <h4><a href="#" class="woocommerce-LoopProduct-link">DAN Unisex Divers Alert Network T-Shirt - Navy</a></h4>
                          <div class="star-rating">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i>
                          </div>
                          <p>Unisex Love DAN Tee  DAN logo on the left sleeveSmall DAN logo on the backLarge Heart shaped un..</p>
                          <p class="price">
                            <ins>ZAR 312.00</ins>
                            <small>Ex Tax:ZAR 271.30</small>
                          </p>
                          
                          <div class="button-group">
                            <button type="button" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                            <button type="button" data-toggle="tooltip" title="Add to Wish List"><i class="fa fa-heart" aria-hidden="true"></i></button>
                          </div>
                        </div>
                      </div>
                </ng-template>


                <ng-template carouselSlide>
                    <div class="item">
                        <div class="image"><a href="#"><img src="../assets/images/product-05.png" alt=""></a></div>		  
                        <div class="caption">
                          <h4><a href="#" class="woocommerce-LoopProduct-link">DAN Unisex Stay Salty T-Shirt - Navy</a></h4>
                          <div class="star-rating">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i>
                          </div>
                          <p>Unisex Stay Salty Tee - 140gm DAN logo on the left sleeveSmall DAN logo on the backLarge Heart shape..</p>
                          <p class="price">
                            <ins>ZAR 312.00</ins>
                            <small>Ex Tax:ZAR 271.30</small>
                          </p>
                          
                          <div class="button-group">
                            <button type="button" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                            <button type="button" data-toggle="tooltip" title="Add to Wish List"><i class="fa fa-heart" aria-hidden="true"></i></button>
                          </div>
                        </div>
                      </div>
                </ng-template>
               
              </owl-carousel-o> 


        
        </div>	  
            
      </div>
    </div
  </section> -->     
  
  <section class="about-benefits">			
    <div class="container">
      <div class="row">           
        
        <div class="col-sm-12 title mrb-30">
          <div class="inner">
            <h2>Benefits of DAN Shop Membership</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div> 	  
        </div><!--/ coll --> 
        
        <div class="col-sm-6 ab-coll">
          <div class="info">
            <figure><img src="../assets/images/icon-01.png" alt="Image"></figure>
            <div class="info-padd">
              <h3>Special gift cards</h3>
              <p>Lorem ipsum dolor sit amet elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis nostrud ullamco laboris nisi ut aliquip ex ea commodo.</p>
            </div>
          </div><!--/ coll --> 	
        </div><!--/ coll --> 	
        
        <div class="col-sm-6 ab-coll">
          <div class="info">
            <figure><img src="../assets/images/icon-02.png" alt="Image"></figure>
            <div class="info-padd">
              <h3>Secure payment</h3>
              <p>Lorem ipsum dolor sit amet elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis nostrud ullamco laboris nisi ut aliquip ex ea commodo.</p>
            </div>
          </div><!--/ coll --> 	
        </div><!--/ coll --> 	
        
        <div class="col-sm-6 ab-coll">
          <div class="info">
            <figure><img src="../assets/images/icon-03.png" alt="Image"></figure>
            <div class="info-padd">
              <h3>24/7 support</h3>
              <p>Lorem ipsum dolor sit amet elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis nostrud ullamco laboris nisi ut aliquip ex ea commodo.</p>
            </div>
          </div><!--/ coll --> 	
        </div><!--/ coll --> 
        
        <div class="col-sm-6 ab-coll">
          <div class="info">
            <figure><img src="../assets/images/icon-04.png" alt="Image"></figure>
            <div class="info-padd">
              <h3>Free shipping</h3>
              <p>Lorem ipsum dolor sit amet elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis nostrud ullamco laboris nisi ut aliquip ex ea commodo.</p>
            </div>
          </div><!--/ coll --> 	
        </div><!--/ coll --> 	
       
      </div><!--/ row --> 
    </div>
  </section><!--/ about-benefits -->
  
  <section class="about-text">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-6 left">
          <h2>DAN Shop <span>Southern Africa’s premier dive safety shop!</span></h2>
          <p>DAN’s primary and most important mission is dive safety and every one of DAN’s activities is dedicated to this purpose, from assisting divers in emergency situations to developing and implementing safety projects and programmes and furthering dive medicine and safety research.</p>
          <p>Every day, divers and emergency-response personnel around the world trust DAN’s oxygen units and first-aid kits to perform in an emergency. That’s because DAN’s products have been developed, tested and refined with input from leading doctors and researchers to meet the discriminating requirements of the diving community. Explore the DAN Shop to make sure you are prepared with the latest safety equipment to effectively handle any dive emergency.</p>
          <p><a href="#" class="btn">View More</a></p>
        </div>
        
        <div class="col-sm-6 right">		 
          <figure><img src="../assets/images/about.png" alt="image"></figure>
        </div><!--/ right -->  
            
      </div><!--/ row -->	
    </div>
  </section><!--/ about-text  -->
  
  <section class="tag-wrap">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-12">
          <div class="inner">
            <h2>DAN Shop Emergency Hotline <span>Call for Assistance</span></h2>
            <p>Lorem ipsum dolor sit amet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna enim ad minim veniam, quis nostrud ullamco laboris nisi ut aliquip ex consequat.</p>
            <h2>27 11 266 4900</h2>
            <p><a href="#" class="btn">Shop Now</a></p>
          </div>
        </div>
            
      </div><!--/ row -->	
    </div>
  </section><!--/ about-text  -->
